body {
	padding: 20px;
}

h1, h2, h3 {
	font-family: "Comic Sans Ms";
	color: #c0c;
	text-align: center;
}

h1 {
	font-size: 30pt;
}

h2 {
	font-size: 24pt;
}

p {
	margin-top: 1em;
}

h1, ul {margin:0 0 30px;}
a:hover {color:#83be20;}

.centered {
    text-align: center;
}

#score {
	display: none;
    margin-top: 35px;
    font-family: Univers;
    font-size: 48pt;
    color: #c0c;
}